/*
 * ELINIMATE DEFAULT BROWSER SETTINGS 
 */
body,
html {
    height: 100%;
}

html,
html * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Gotham, Helvetica Neue, Helvetica, Arial, " sans-serif";
}

a {
    text-decoration: none;
}

a:active {
    background-color: rgb(255, 111, 0);
    border: 1px;
    border-color: brown;
}

h1 {
    font-size: 5rem;
    text-align: center;
}

ul {
    list-style-type: none;
}


/*
 * GENERAL PAGE SETTINGS
 */
.page {
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* 
 * PAGE 1 
 */
.page1 {
    position: relative;
    background-color: orange;
    background-image: ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: ;
    background-position: center;
}
.button {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration:none; 
    cursor:pointer;
    color: white;
}
/*
 * PAGE 2 
 */

.page2 {
    position: relative;
    background-color: darkorange ;
}

/*
 * SCORE PANEL
 */

 .score-panel {
    text-align: center;
    width: 200px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck {
    width: 660px;
    min-height: 660px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding:1rem;
    grid-gap: 10px;
}

.card {
    width: 125px;
    height: 125px;
    border-radius: 8px;
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
}

.openCard {
    background-color: white;
}

.icon {
    display: none;
    width: 80%;
    height: 80%;
}

.openIcon {
    display: block;
}

/*
 * MEDIA QUERIES 
 */
@media only screen and (max-width: 767px) and (orientation: portrait) {
    .page1 {}
}